<h2>CD Selection</h2>
<form action="/cdcataloger" method="post">
  <div class="form-control">
    <label for="title">Title :</label>
    <input type="text" name="title" id="title">
  </div>
  <div class="form-control">
  </div>
  <button type="submit" name="button">Click</button>
</form>
